<template>

	<v-dialog v-model="dialog" lazy fullscreen>
		<v-btn depressed slot="activator" dark>
			Přidat uživatele
		</v-btn>
		
		<v-card>
			<v-card-title class="headline primary white--text" primary-title>
				Přidání uživatele
			</v-card-title>

			<v-card-text>

				<v-form ref="form" v-model="valid">

					<v-container grid-list-xl>
						<v-layout row wrap>
							<v-flex xs12>

								<v-select :items="type" label="Vyberte typ" v-model="createCustomer.type" :rules="categoryRules" required></v-select>

								<v-text-field v-model="createCustomer.name" :rules="required" required label="Jméno a příjmení"></v-text-field>
								<v-text-field v-model="createCustomer.company" :rules="required" required label="Společnost"></v-text-field>
								<v-text-field v-model="createCustomer.email" :rules="required" required label="E-mail"></v-text-field>
								<v-text-field v-model="createCustomer.contact" :rules="required" required label="Telefon"></v-text-field>

							</v-flex>
						</v-layout>
					</v-container>

					<v-dialog v-model="dialog" persistent width="300" v-if="loadingState">
						<v-card color="primary" dark>
							<v-card-text>
								Počkejte prosím...
								<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
							</v-card-text>
						</v-card>
					</v-dialog>

				</v-form>
				
			</v-card-text>

			<v-divider></v-divider>

			<v-card-actions>
				<v-btn color="primary" depressed dark @click="dialog = false">
					Zavřít
				</v-btn>
				<v-spacer></v-spacer>
				<v-btn color="green" depressed dark @click="submit()">
					Vytvořit uživatele
				</v-btn>
			</v-card-actions>
		</v-card>

	</v-dialog>
	
</template>

<script>
export default {
	data(){
		return{
			//url: 'https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			url: 'https://cors-anywhere.herokuapp.com/https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			loadingState: false,
			valid: false,
			type: [
				'Dealeři',
				'Média',
				'Agentura',
				'Canon',
				'Ostatní'
			],
			dialog: '',
			createCustomer: {
				name: null,
				type: null,
				email: null,
				company: null,
				contact: null
			},
			required: [
				v => !!v || 'Povinné pole.'
			],
			categoryRules: [
				v => !!v || 'Povinné pole.'
			]
		}
	},
	methods: {
		submit () {
			
			if (this.$refs.form.validate()) {

				let vm = this
				this.loadingState = true

				this.$axios.$post(this.url + 'customers/create/', JSON.stringify(this.createCustomer)).then(function(response){
					/* if(response.success === true){ */

						vm.loadingState = false
						vm.dialog = false
						return alert('Uživatel byl úspěšně přidán.')
						
					/* }else{
						vm.loadingState = false
						return alert('Při odesílání formuláře došlo k chybě, zkuste to prosím znovu.')
					} */
				})
			}
		}
	}
}
</script>
