<template>
	<v-dialog v-model="dialog" lazy fullscreen>
		<v-btn depressed slot="activator" @click="stateStep1 = true" color="green" dark>
			Nová zápůjčka
		</v-btn>

		<v-card v-if="stateStep1">
			<v-card-title class="headline primary white--text" primary-title>
				Nová zápůjčka
			</v-card-title>

			<v-card-text>

				<v-form ref="form" v-model="step1Valid">
				
					<v-container grid-list-xl>

						<v-layout row wrap>
							<v-flex xs12 sm4>
								<v-select :items="customers" item-text="name" item-value="id" :rules="step3RulesCustomer" required v-model="createBooking.customer" label="Vyberte uživatele"></v-select>
							</v-flex>

							<v-flex xs12 sm4>

								<v-menu
									ref="menu"
									:close-on-content-click="true"
									v-model="menu"
									:nudge-right="40"
									:return-value.sync="tempStartDate"
									lazy
									transition="scale-transition"
									offset-y
									full-width
									min-width="290px"
								>
									<v-text-field
										slot="activator"
										v-model="formattedDate"
										:rules="step1RulesStart"
										label="Vyberte datum od"
										prepend-icon="event"
										readonly
										required
									></v-text-field>
									<v-date-picker 
										v-model="createBooking.start"
										:rules="step1RulesStart"
										@change="loadProducts"
										locale="cs"
										@input="save(createBooking.start)"></v-date-picker>
								</v-menu>
							</v-flex>
							<v-flex xs12 sm4>

								<v-menu
									ref="menu2"
									:close-on-content-click="true"
									v-model="menu2"
									:nudge-right="40"
									:return-value.sync="tempEndDate"
									lazy
									transition="scale-transition"
									offset-y
									full-width
									min-width="290px"
								>
									<v-text-field
										slot="activator"
										v-model="formattedDate2"
										:rules="step1RulesEnd"
										label="Vyberte datum do"
										prepend-icon="event"
										readonly
										required
									></v-text-field>
									<v-date-picker 
										v-model="createBooking.end"
										:rules="step1RulesEnd"
										@change="loadProducts"
										locale="cs"
										:min="createBooking.start"
										@input="save(createBooking.end)"></v-date-picker>
								</v-menu>
							</v-flex>
						</v-layout>

						<template v-if="dateSelected">

							<v-divider></v-divider>

							<div class="text-xs-center mt-5 mb-5">
								<v-chip v-for="(chip, index) in productCategories" :selected="selectedCategory == chip" :key="index" @click="selectedCategory = chip">{{chip}}</v-chip>
								<v-chip @click="selectedCategory = ''" :selected="selectedCategory == ''">Vše</v-chip>
							</div>

							<v-layout row wrap>

								<template v-for="cat in productCategories">

									<v-flex xs12 sm6 lg4 v-for="product in productCategory" :key="product.id" v-if="selectedCategory == cat && product.category == cat">
									
										<v-checkbox :label="product.title + ' (#' + product.serial + ')'" :value="product.id" 
										v-model="selectedProducts"></v-checkbox>

									</v-flex>	

								</template>


								<v-flex xs12 sm6 lg4 v-for="(product, index) in productCategory" :key="index" v-if="selectedCategory == ''">

									<v-checkbox :label="product.title + ' (#' + product.serial + ')'" :value="product.id" 
									v-model="selectedProducts"></v-checkbox>
									
								</v-flex>
							</v-layout>

							<v-divider></v-divider>

							<v-layout row wrap>
								<v-flex xs12>
									<p class="title">Poznámka k zápůjčce</p>
									<v-textarea label="Poznámka" :rules="step3RulesNote" required v-model="createBooking.note"></v-textarea>
								</v-flex>
							</v-layout>

						</template>

						<v-dialog v-model="dialog" persistent width="300" v-if="dateSelectedLoading">
							<v-card color="primary" dark>
								<v-card-text>
									Počkejte prosím...
									<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
								</v-card-text>
							</v-card>
						</v-dialog>

					</v-container>

				</v-form>

			</v-card-text>

			<v-divider></v-divider>

			<v-card-actions>
				<v-btn color="primary" depressed dark @click="dialog = false">
					Zavřít
				</v-btn>
				<v-spacer></v-spacer>
				<v-btn v-if="dateSelected" color="green" depressed dark @click="submit()">
					Potvrdit a vygenerovat
				</v-btn>
			</v-card-actions>

		</v-card>

	</v-dialog>
</template>

<script>
import moment from 'moment'
import uniq from 'lodash/uniq'

export default {
	data(){
		return{
			//url: 'https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			url: 'https://cors-anywhere.herokuapp.com/https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			tempStartDate: null,
			tempEndDate: null,
			loadingState: false,
			customers: [],
			dateSelected: false,
			dateSelectedLoading: false,
			createCustomer: {
				name: null,
				company: null,
				email: null,
				contact: null
			},
			events: [],
			category: [
				'EOS',
				'Kompakty',
				'Kamery',
				'Objektivy',
				'Ostatní'
			],
			type: [
				'Běžná zápůjčka'
			],
			step1RulesStatus: [
				v => !!v || 'Povinné pole.'
			],
			step1RulesStart: [
				v => !!v || 'Povinné pole.'
			],
			step1RulesEnd: [
				v => !!v || 'Povinné pole.'
			],
			step2RulesProducts: [
				v => !!v || 'Povinné pole.'
			],
			step3RulesCustomer: [
				v => !!v || 'Povinné pole.'
			],
			step3RulesNote: [
				v => !!v || 'Povinné pole.'
			],
			menu: false,
			menu2: false,
			dialog: '',
			step1Valid: false,
			step2Valid: false,
			step3Valid: false,
			step4Valid: false,
			stateStep1: false,
			stateStep2: false,
			stateStep3: false,
			stateStep4: false,
			datesAvailableProducts: {
				start: null,
				end: null
			},
			productId: null,
			selectedCategory: '',
			productCategory: [],
			selectedProducts: [],
			createBooking: {
				status: '',
				start: null,
				end: null,
				products: [],
				customer: [],
				note: ''
			}
		}
	},
	filters: {
		moment: function (date) {
			return moment(date).locale('cs').format('LL');
		}
	},
	computed: {
		productCategories () {
			return uniq(this.productCategory.map(p => p.category))
		},
		formattedDate(){
			if(!this.createBooking.start) return null

			const [year, month, day] = this.createBooking.start.split('-')
			return `${day}. ${month}. ${year}`
		},
		formattedDate2(){
			if(!this.createBooking.end) return null

			const [year, month, day] = this.createBooking.end.split('-')
			return `${day}. ${month}. ${year}`
		}
	},
	methods: {
		loadProducts(){

			if(this.createBooking.start !== null && this.createBooking.end !== null){

				this.dateSelectedLoading = true
				this.datesAvailableProducts.start = this.createBooking.start
				this.datesAvailableProducts.end = this.createBooking.end


				let vm = this

				vm.$axios.$post( this.url + 'products/available/id/', JSON.stringify(this.datesAvailableProducts)).then(function(response){

					vm.productCategory = response
					vm.dateSelected = true
					vm.dateSelectedLoading = false
				})
			}
		},
		save(date) {
			this.date = this.date
		},
		submit () {
			this.loadingState = true

			for (let i = 0; i < this.selectedProducts.length; i++) {
				this.productId = this.selectedProducts[i]

				this.createBooking.products.push( { id: this.productId } )
			}

			let vm = this

			vm.$axios.$post(this.url + 'bookings/create/', JSON.stringify(this.createBooking)).then(function(response){
				vm.loadingState = false
				vm.dialog = false
				return alert('Zápůjčka byla úspěšně přidána.')
			})
		}
	},
	created(){

		let vm = this

		this.$axios.$get(this.url + 'customers/list/').then(function(response){

			vm.customers = response
		})
	}
}
</script>

<style lang="scss" scoped>
	dl{
		dd{
			display: block;

			span{
				display: block;
			}
		}
	}
</style>
