<template>

	<v-dialog v-model="dialog" lazy fullscreen>
		<v-btn depressed slot="activator" dark>
			Přidat produkt
		</v-btn>
		
		<v-card>
			<v-card-title class="headline primary white--text" primary-title>
				Přidání produktu
			</v-card-title>

			<v-card-text>

				<v-form ref="form" v-model="valid">

					<v-container grid-list-xl>
						<v-layout row wrap>
							<v-flex xs12>

								<v-select :items="category" label="Vyberte kategorii" v-model="createProduct.category" :rules="categoryRules" required></v-select>

								<v-select :items="location" label="Vyberte sklad" v-model="createProduct.location" :rules="categoryRules" required></v-select>

								<p class="title mt-4 mb-0">Detaily produktu</p>

								<v-text-field class="pb-0" label="Název produktu" v-model="createProduct.name" :rules="nameRules" required></v-text-field>

								<v-text-field label="Sériové číslo" v-model="createProduct.serial" :rules="serialRules" required></v-text-field>

								<p class="title mt-4 mb-0">Poznámka</p>

								<v-select :items="status" label="Stav produktu" v-model="createProduct.status"></v-select>

								<v-select :items="damage" label="Poškození" auto-grow v-model="createProduct.damage"></v-select>

								<v-textarea label="Poznámka" auto-grow v-model="createProduct.note"></v-textarea>

							</v-flex>
						</v-layout>
					</v-container>

					<v-dialog v-model="dialog" persistent width="300" v-if="loadingState">
						<v-card color="primary" dark>
							<v-card-text>
								Počkejte prosím...
								<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
							</v-card-text>
						</v-card>
					</v-dialog>

				</v-form>
				
			</v-card-text>

			<v-divider></v-divider>

			<v-card-actions>
				<v-btn color="primary" depressed dark @click="dialog = false">
					Zavřít
				</v-btn>
				<v-spacer></v-spacer>
				<v-btn color="green" depressed dark @click="submit">
					Vložit
				</v-btn>
			</v-card-actions>
		</v-card>

	</v-dialog>
	
</template>

<script>
export default {
	data(){
		return{
			//url: 'https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			url: 'https://cors-anywhere.herokuapp.com/https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			loadingState: false,
			valid: false,
			category: [
				'EOS',
				'iSensys',
				'IXUS',
				'Legria',
				'Objektivy',
				'Ostatní',
				'Pixma',
				'PowerShot',
				'Projektory',
				'Selphy',
				'IP Kamery'
			],
			location: [
				'L&E',
				'Nákup',
				'L&E CPS',
				'Samples CE',
				'Jiné'
			],
			status: [
				'Dostupný',
				'Nedostupný'
			],
			damage: [
				'Jako nový',
				'Poškozený'
			],
			dialog: '',
			createProduct: {
				name: null,
				category: null,
				serial: null,
				location: null,
				status: null,
				damage: null,
				note: null
			},
			nameRules: [
				v => !!v || 'Povinné pole.'
			],
			categoryRules: [
				v => !!v || 'Povinné pole.'
			],
			serialRules: [
				v => !!v || 'Povinné pole.'
			]
		}
	},
	methods: {
		submit () {
			
			if (this.$refs.form.validate()) {

				let vm = this
				this.loadingState = true

				this.$axios.$post(this.url + 'products/create/', JSON.stringify(this.createProduct)).then(function(response){
					
					if(response.success === true){

						vm.loadingState = false
						vm.dialog = false
						return alert('Produkt byl úspěšně přidán.')
						
					}else{
						vm.loadingState = false
						return alert('Při odesílání formuláře došlo k chybě, zkuste to prosím znovu.')
					}
				})
			}
		}
	}
}
</script>
