<template>

	<v-dialog v-model="dialog" lazy fullscreen>
		<v-btn depressed color="primary" slot="activator" dark>
			Ukončit zápůjčku
		</v-btn>
		
		<v-card>
			<v-card-title class="headline primary white--text" primary-title>
				Ukončení zápůjčky: #{{bookingData.id}}
			</v-card-title>

			<v-card-text>

				<v-form ref="form" v-model="valid">

					<v-container grid-list-xl>
						<v-layout row wrap>
							<v-flex xs12>

								<p class="title mb-0">Produkty</p>

								<v-layout row wrap v-for="(product, index) in bookingData.products" :key="index">
									<v-flex xs12 sm6>
										{{index}}
										<v-checkbox :label="product.title + '(#' + product.serial + ')'" :value="product.id" v-model="finishBooking.products.id"></v-checkbox>
									</v-flex>
								</v-layout>

								<p class="title mt-4 mb-0">Datum ukončení</p>

								<v-menu ref="menu2" :close-on-content-click="false" v-model="menu2" :nudge-right="40" :return-value.sync="finishBooking.end" lazy transition="scale-transition" offset-y full-width min-width="290px">
										<v-text-field slot="activator" v-model="finishBooking.end" required label="Vyberte datum ukončení" prepend-icon="event" readonly></v-text-field>
										<v-date-picker v-model="finishBooking.end" @input="$refs.menu2.save(finishBooking.end)" no-title scrollable></v-date-picker>
									</v-menu>


								<p class="title mt-4 mb-0">Poznámka k ukončení zápůjčky</p>

								<v-textarea label="Poznámka" auto-grow v-model="finishBooking.note"></v-textarea>

							</v-flex>
						</v-layout>
					</v-container>

					{{finishBooking}}

					<v-dialog v-model="loadingState" persistent width="300" v-if="loadingState">
						<v-card color="primary" dark>
							<v-card-text>
								Počkejte prosím...
								<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
							</v-card-text>
						</v-card>
					</v-dialog>

				</v-form>
				
			</v-card-text>
{{bookingData}}
			<v-divider></v-divider>

			<v-card-actions>
				<v-btn color="grey" depressed dark @click="dialog = false">
					Zpět
				</v-btn>
				<v-spacer></v-spacer>
				<v-btn color="primary" depressed dark @click="submit">
					Ukončit a vygenerovat
				</v-btn>
			</v-card-actions>
		</v-card>

	</v-dialog>
	
</template>

<script>
export default {
	props: ['bookingData'],
	data(){
		return{
			//url: 'https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			url: 'https://cors-anywhere.herokuapp.com/https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			loadingState: false,
			valid: false,
			menu2: '',
			items: [
				'EOS',
				'Kompakty',
				'Kamery',
				'Objektivy',
				'Ostatní'
			],
			dialog: '',
			finishBooking: {
				end: null,
				note: '',
				products: {
					id: []
				}
			},
		}
	},
	methods: {
		submit () {
			
			if (this.$refs.form.validate()) {

				let vm = this
				this.loadingState = true

				this.$axios.$post(this.url + 'bookings/update/' + this.bookingData.id, JSON.stringify(this.createProduct)).then(function(response){

					/* if(response.success === true){ */

						vm.loadingState = false
						vm.dialog = false
						return alert('Zápůjčka byla úspěšně aktualizována.')

						
					/* }else{
						vm.loadingState = false
						return alert('Při odesílání formuláře došlo k chybě, zkuste to prosím znovu.')
					} */
				})
			}
		}
	}
}
</script>
