<template>
	<v-app>
		<v-toolbar flat dark>
			<v-toolbar-title>Canon zápůjčky</v-toolbar-title>
		</v-toolbar>
		<nuxt />
	</v-app>
	
</template>

<style lang="scss">
	.btn--depressed{
		border-radius: 0;
	}
</style>
