<template>
	<v-container grid-list-xl>

		<v-dialog v-model="loadingState" persistent width="300">
			<v-card color="primary" dark>
				<v-card-text>
					Počkejte prosím...
					<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
				</v-card-text>
			</v-card>
		</v-dialog>

		<v-layout row wrap v-if="!loadingState">
			<v-flex xs12>
				<h2 class="headline">
					Detail zápůjčky #{{bookingId}}
				</h2>
			</v-flex>
		</v-layout>

		<v-layout row wrap v-if="!loadingState">
			<v-flex xs12>
				<nuxt-link to="/">
					Vytisknout zápůjčkový list
				</nuxt-link>
			</v-flex>
		</v-layout>

		<v-layout row wrap class="mt-4" v-if="!loadingState">
			<v-flex xs12>
				<h3 class="title mb-2">
					Shrnutí
				</h3>
				{{bookingDetail.start | moment}}
				-
				{{bookingDetail.end | moment}}
			</v-flex>
		</v-layout>

		<v-layout row wrap v-if="!loadingState">
			<v-flex xs12 class="pb-0">
				<h4 class="body-2">
					Produkty
				</h4>
			</v-flex>
		</v-layout>

		<v-layout row wrap v-if="!loadingState">
			<v-flex xs12>

				<dl v-for="(item, index) in bookingDetail.products" :key="index">
					<dd>
						{{item.title}}
					</dd>
					<dd>
						{{'(#' + item.serial + ')'}}
					</dd>
					<dd class="last">
						{{item.product_damage}}
					</dd>
				</dl>
			
			</v-flex>
		</v-layout>

		<v-layout row wrap v-if="!loadingState">
			<v-flex xs12 class="pb-0">
				<h4 class="body-2">
					Zapůjčeno komu: 
					<strong>
						<template v-for="booking in customer">
							<template v-for="customer in booking.bookings" v-if="customer.id === bookingDetail.id">
								{{booking.name}}
							</template>
						</template>
					</strong>
				</h4>
			</v-flex>
		</v-layout>

		<v-layout row wrap v-if="!loadingState">
			<v-flex xs12 class="pb-0">
				<h4 class="body-2">
					Poznámka k zápůjčce: <strong>{{bookingDetail.note}}</strong>
				</h4>
			</v-flex>
		</v-layout>

		<v-layout row wrap class="mt-5" v-if="!loadingState">
			<v-flex xs12 sm6 class="pb-0" text-xs-left>
				<v-btn depressed to="/" color="grey" dark>Zpět</v-btn>
			</v-flex>
			<v-flex xs12 sm6 class="pb-0" text-xs-right>
				
				<finish-booking :bookingData="bookingDetail"></finish-booking>

			</v-flex>
		</v-layout>

	</v-container>
</template>

<script>
import moment from 'moment'
import finishBooking from '~/components/finishBooking'

export default {
	data () {
		return {
			//url: 'https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			url: 'https://cors-anywhere.herokuapp.com/https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			loadingState: true,
			bookingId: this.$route.params.id,
			bookingDetail: [],
			customer: []
		}
	},
	filters: {
		moment: function (date) {
			return moment(date).locale('cs').format('LL');
		}
	},
	components: {
		finishBooking
	},
	created () {
		let vm = this

		this.$axios.$get(this.url + 'bookings/' + this.bookingId).then(function(response){
			vm.bookingDetail = response

			vm.$axios.$get(vm.url + 'customers/list').then(function(response){
				vm.customer = response
				vm.loadingState = false
			})
		})
	}
}
</script>

<style lang="scss" scoped>
	dl{
		dd{
			display: inline-block;
			margin-right: 2rem;

			&.last{
				margin-left: 2rem;
			}
		}
	}
</style>


