<template>
	<div>
		<v-dialog v-model="loadingState" persistent width="300">
			<v-card color="primary" dark>
				<v-card-text>
					Počkejte prosím...
					<v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
				</v-card-text>
			</v-card>
		</v-dialog>

		<v-container fluid grid-list-xl>

			<v-layout row wrap>
				<v-flex xs12 sm4>
					<v-select :items="productCategories" v-model="selectedCategory" label="Kategorie produktu"></v-select>
				</v-flex>
				<v-flex xs12 sm8 text-xs-right class="pt-0">
					<create-new-customer></create-new-customer>
					<create-new-product></create-new-product>
					<create-new-booking></create-new-booking>
				</v-flex>
			</v-layout>

			<v-layout row wrap>
				<v-flex xs12>

					<no-ssr>
						<div id='calendar'></div>
					</no-ssr>

				</v-flex>
			</v-layout>
		</v-container>

		<v-container fluid grid-list-xl v-if="!loadingState">
			<v-layout row wrap>
				<v-flex xs12 sm6 md4>
					<h3>Aktivní zápůjčky</h3>

					<div class="box">
						<dl v-for="(event, index) in orderBy(dataEvents, 'end', 1)" :key="index" v-if="new Date().getTime() < Date.parse(event.end)">	
							<dt>
								<nuxt-link :to="'/' + event.id">
									{{event.start | moment}} - {{event.end | moment}}
								</nuxt-link>
							</dt>
							<dd>
								{{event.customer.name}}
							</dd>
							<dd class="spaced">
								<div v-for="(event, index) in event.products" :key="index">

									<div v-for="(product, index) in filterBy(dataProducts, event.id, 'id')" :key="index">
										{{product.title}} (#{{product.serial}})
										<br>
									</div>

								</div>
							</dd>
						</dl>
						<dl v-if="activeBookingState">
							<dd>
								Nejsou žádné aktivní zápůjčky.
							</dd>
						</dl>
					</div>

				</v-flex>
				<v-flex xs12 sm6 md4>
					<h3>Historie zápůjček</h3>
				
					<div class="box">
					
						<dl v-for="(event, index) in orderBy(dataEvents, 'end', -1)" :key="index" v-if="Date.parse(event.end) < new Date().getTime()">
							<dt>
								<nuxt-link :to="'/' + event.id">
									{{event.start | moment}} - {{event.end | moment}}
								</nuxt-link>
							</dt>
							<dd>
								{{event.customer.name}}
							</dd>
							<dd class="spaced">
								<div v-for="(event, index) in event.products" :key="index">

									<div v-for="(product, index) in filterBy(dataProducts, event.id, 'id')" :key="index">
										{{product.title}} (#{{product.serial}})
										<br>
									</div>

								</div>
							</dd>
						</dl>
						<dl v-if="historyBookingState">
							<dd>
								Žádná historie zápůjček.
							</dd>
						</dl>
					</div>
				</v-flex>
				<v-flex xs12 sm6 md4>
					<h3>Uživatelé</h3>
				
					<div class="box">
					
						<dl v-for="(customer, index) in dataCustomers" :key="index">
							<dt style="text-decoration:none">
								{{customer.name}}
							</dt>
							<dd class="spaced">
								Typ: <span style="color:#333" v-html="customer.type"></span><br>
								Společnost: {{customer.company}}<br>
								E-mail: <a :href="'mailto:' + customer.email">{{customer.email}}</a>
							</dd>
						</dl>
					</div>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
import uniq from 'lodash/uniq'

import $ from 'jquery'
import moment from 'moment'
import 'fullcalendar'
import 'fullcalendar-scheduler'
import 'fullcalendar/dist/locale/cs'

import createNewProduct from '~/components/createNewProduct'
import createNewBooking from '~/components/createNewBooking'
import createNewCustomer from '~/components/createNewCustomer'

	
export default {
	name: 'Calendar',
	components: {
		createNewProduct,
		createNewBooking,
		createNewCustomer
	},
	middleware: 'auth',
	data() {
		return {
			//url: 'https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			url: 'https://cors-anywhere.herokuapp.com/https://creativenow.cz/projekty/canon/18-zapujcky/api/',
			loadingState: true,
			dataProducts: [],
			dataEvents: [],
			dataCustomers: [],
			products: [],
			events: [],
			tempEvents: [],
			tempProducts: [],
			tempIds: [],
			selectedCategory: '',
			productCategory: [],
			selectedProducts: []
		}
	},
	filters: {
		moment: function (date) {
			return moment(date).locale('cs').format('LL');
		}
	},
	watch: {
		selectedCategory (val) {

			if(val === 'Vše'){
				for (let i = 0; i < this.products.length; i++) {
					$('#calendar').fullCalendar('removeResource', this.products[i].id);
				}
				
				for (let i = 0; i < this.dataProducts.length; i++) {
					
					$('#calendar').fullCalendar('addResource', {
						id: this.dataProducts[i].id,
						title: this.dataProducts[i].title
					});
				}

				$('#calendar').fullCalendar('rerenderEvents')
			}else{

				for (let i = 0; i < this.products.length; i++) {
					$('#calendar').fullCalendar('removeResource', this.products[i].id);
				}
				
				for (let i = 0; i < this.dataProducts.length; i++) {
					if(this.dataProducts[i].category === val){
						
						$('#calendar').fullCalendar('addResource', {
							id: this.dataProducts[i].id,
							title: this.dataProducts[i].title
						});
					}
				}

				$('#calendar').fullCalendar('rerenderEvents')
			}
		}
	},
	computed: {
		productCategories () {
			return uniq(this.productCategory.map(p => p.category))
		},
		activeBookingState(){
			for (let i = 0; i < this.dataEvents.length; i++) {
				const events = this.dataEvents[i];
				
				if(new Date().getTime() <= Date.parse(events.end)){
					return true
				}else{
					return false
				}
			}
		},
		historyBookingState () {
			for (let i = 0; i < this.dataEvents.length; i++) {
				const events = this.dataEvents[i];
				
				if(new Date().getTime() < Date.parse(events.end)){
					return true
				}else{
					return false
				}
			}
		}
	},
	mounted(){

		let vm = this

		vm.$axios.$get(this.url + 'products/list').then(function(responseProducts){
			vm.dataProducts = responseProducts

			vm.$axios.$get(vm.url + 'bookings/list').then(function(responseEvents){

				vm.dataEvents = responseEvents

				for (let i = 0; i < vm.dataEvents.length; i++) {
					vm.tempEvents = vm.dataEvents[i];
				
					if(vm.tempEvents.products){

						for (let j = 0; j < vm.tempEvents.products.length; j++) {
							vm.tempProducts = vm.tempEvents.products[j];

							vm.events.push({
								id: vm.tempProducts.id, 
								resourceId: vm.tempProducts.id, 
								//2018-01-04T12:30:00 example
								start: vm.tempEvents.start, 
								end: vm.tempEvents.end,
								title: vm.tempProducts.title + ' (' + (vm.tempEvents.note ? vm.tempEvents.note : 'Bez poznámky') + ')',
								//url: '/projekty/canon/zapujcky/' + vm.tempProducts.id
							});
						}
					}
				}

				for (let i = 0; i < vm.dataProducts.length; i++) {

					vm.products.push({
						id: vm.dataProducts[i].id, 
						title: vm.dataProducts[i].title
					});
				}

				var containerEl = $('#calendar');

				containerEl.fullCalendar({
					now: new Date().getTime(),
					editable: false, // enable draggable events
					aspectRatio: 2.4,
					filterResourcesWithEvents: true,
					contentHeight: 'auto',
					locale: 'cs',
					schedulerLicenseKey: '0673558574-fcs-1521634811',
					scrollTime: '00:00', // undo default 6am scrollTime
					titleFormat: 'D MMMM YYYY',
					businessHours: true,
					header: {
						left: 'today prev,next',
						center: 'title',
						right: 'timelineDay,timelineThreeDays,timelineWeek,timelineMonth'
					},
					defaultView: 'timelineMonth',
					views: {
						timelineThreeDays: {
							type: 'timeline',
							duration: { 
								days: 3
							}
						}
					},
					resourceLabelText: 'Produkty',
					resources: vm.products,
					events: vm.events, //backgroundColor
					eventColor: '#cc0000'
				});

				vm.loadingState = false

			})
		})
	},
	created(){
		let vm = this

		vm.$axios.$get(vm.url + 'products/list/').then(function(response){

			vm.productCategory = response

			vm.productCategory.unshift({
				category: 'Vše'
			})
		})

		vm.$axios.$get(vm.url + 'customers/list').then(function(responseCustomers){

			vm.dataCustomers = responseCustomers
		})
	}
}

</script>

<style>

	@import "fullcalendar/dist/fullcalendar.css";
	@import "fullcalendar-scheduler/dist/scheduler.css";
	
</style>

<style lang="scss">
	.fc-resource-area {
		width: 15% !important;
	}
	.fc-time {
		display: none;
	}
	.fc-sun,
	.fc-sat {
		background-color: #eee;
	}
	.fc-mon,
	.fc-tue,
	.fc-wed,
	.fc-thu,
	.fc-fri {
		background-color: #fff;
	}
	.fc-nonbusiness {
		background-color: transparent;
	}
	h3{
		font-size: 1.6rem;
	}
	
	.box{
		background-color: #ffffff;
		padding: 1rem;
		overflow-y: scroll;
		max-height: 350px;
		
		dl{
			margin-bottom: 1em;
			dt{
				font-weight: 600;
				margin-bottom: 0;
				text-decoration: underline;
			}

			dd{

				&.spaced{
					margin-left: 1rem;
					font-size: .8rem;

					span{
						color: darken(#ffffff, 30);
					}
				}
			}
		}
	}
</style>
