<template>
	<v-container grid-list-xl>
		<v-layout row wrap justify-center>
			<v-flex xs12 sm6 md4>
				<h2>
					Přihlášení do systému
				</h2>
				<v-form v-model="valid" text-xs-right>
					<v-text-field v-model="email" :rules="emailRules" required label="E-mail"></v-text-field>
					<v-text-field v-model="password" :rules="passwordRules" required :type="'password'" label="Heslo"></v-text-field>
					<v-btn class="ml-0" depressed color="primary">Login</v-btn>
				</v-form>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	export default {
		data () {
			return {
				emailRules: [
					v => !!v || 'Povinné pole.'
				],
				passwordRules: [
					v => !!v || 'Povinné pole.'
				]
			}
		}	
	}
</script>

